
<div class="container">
  <div class="page-header">
    <h1 class="text-left">Welcome to my contact form!</h1>      
  </div>
  <div id="contact">
   <div align="center">
    <%= render 'contact_form' %>
  </div>
 </div>
</div>
